O engenheiro de dados da sua empresa forneceu acesso a dois conjuntos de dados pré-processados. Agora, cabe a você analisá-los cuidadosamente para identificar quais escolas utilizaram seus recursos de forma mais eficiente na preparação de estudantes que se destacaram nas Olimpíadas de Redação e de Matemática.

In [1]:
import pandas as pd

escolas = pd.read_csv('https://drive.google.com/uc?id=1Jgto7psHaMRTAVzcFt7D6SgJiHMB7uGT')
estudantes = pd.read_csv('https://drive.google.com/uc?id=15aOJIGAyLMSY1gecjiCgu2ko_riIcKQy')

Como visualizamos o DataFrame escolas?

In [2]:
escolas

    ID_Escola Nome_Escola Tipo_Escola  Numero_Alunos  Orcamento_Anual
0           0    Escola A     Publica           2917          1910635
1           1    Escola B     Publica           2949          1884411
2           2    Escola C  Particular           1761          1056600
3           3    Escola D     Publica           4635          3022020
4           4    Escola E  Particular           1468           917500
5           5    Escola F  Particular           2283          1319574
6           6    Escola G  Particular           1858          1081356
7           7    Escola H     Publica           4976          3124928
8           8    Escola I  Particular            427           248087
9           9    Escola J  Particular            962           585858
10         10    Escola K  Particular           1800          1049400
11         11    Escola L     Publica           3999          2547363
12         12    Escola M     Publica           4761          3094650
13         13    Escola N     Publica           2739          1763916
14         14    Escola O  Particular           1635          1043130

E o estudantes?

In [3]:
estudantes

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica
0,0,Kevin Bradley,M,6,Escola A,66,79
1,1,Paul Smith,M,9,Escola A,94,61
2,2,John Rodriguez,M,9,Escola A,90,60
3,3,Oliver Scott,M,9,Escola A,67,58
4,4,William Ray,F,6,Escola A,97,84
...,...,...,...,...,...,...,...
39155,39155,John Brooks,M,7,Escola O,92,98
39156,39156,Stephanie Contreras,F,8,Escola O,79,95
39157,39157,Kristen Gonzalez,F,6,Escola O,79,94
39158,39158,Kari Holloway,F,7,Escola O,87,90
39159,39159,Kimberly Cabrera,F,8,Escola O,85,72

In [4]:
escolas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_Escola        15 non-null     int64
 1   Nome_Escola      15 non-null     object
 2   Tipo_Escola      15 non-null     object
 3   Numero_Alunos    15 non-null     int64
 4   Orcamento_Anual  15 non-null     int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes

Já conhecemos o DataFrame escolas, mas como podemos obter mais informações sobre o estudantes?

In [5]:
estudantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39160 entries, 0 to 39159
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_Estudante     39160 non-null  int64
 1   Nome_Estudante   39160 non-null  object
 2   Genero           39160 non-null  object
 3   Serie            39160 non-null  int64
 4   Nome_Escola      39160 non-null  object
 5   Nota_Redacao     39160 non-null  int64
 6   Nota_Matematica  39160 non-null  int64
dtypes: int64(4), object(3)
memory usage: 2.1+ MB

*Resposta:* **Com essa análise preliminar concluímos que não existem dados faltantes nos data frames.**

In [6]:
estudantes.describe()

       ID_Estudante         Serie  Nota_Redacao  Nota_Matematica
count  39160.000000  39160.000000  39160.000000     39160.000000
mean   19579.500000      7.359551     81.875741        78.984934
std    11304.662607      1.102796     10.238839        12.311055
min        0.000000      6.000000     63.000000        55.000000
25%     9789.750000      6.000000     73.000000        69.000000
50%    19579.500000      7.000000     82.000000        79.000000
75%    29369.250000      8.000000     91.000000        89.000000
max    39159.000000      9.000000     99.000000        99.000000

In [7]:
categoricas = ['Genero', 'Nome_Estudante', 'Nome_Escola']
estudantes[categoricas].describe()

       Genero Nome_Estudante Nome_Escola
count   39160          39160       39160
unique      2          32539          15
top         F  Michael Smith    Escola H
freq    19728             26        4976

In [8]:
estudantes.isnull().sum(), estudantes.isna().sum()

(ID_Estudante       0
 Nome_Estudante     0
 Genero             0
 Serie              0
 Nome_Escola        0
 Nota_Redacao       0
 Nota_Matematica    0
 dtype: int64,
 ID_Estudante       0
 Nome_Estudante     0
 Genero             0
 Serie              0
 Nome_Escola        0
 Nota_Redacao       0
 Nota_Matematica    0
 dtype: int64)

Perguntas:

Existem dados faltantes nas tabelas? Não


Existe algo em comum nas duas tabelas? Nome_Escola

### Combinando os DataFrames:

In [9]:
data = pd.merge(estudantes, escolas, how='left')

In [10]:
data.head(3)

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
0,0,Kevin Bradley,M,6,Escola A,66,79,0,Publica,2917,1910635
1,1,Paul Smith,M,9,Escola A,94,61,0,Publica,2917,1910635
2,2,John Rodriguez,M,9,Escola A,90,60,0,Publica,2917,1910635

Obter as informações do novo conjunto de dados:

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39160 entries, 0 to 39159
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_Estudante     39160 non-null  int64
 1   Nome_Estudante   39160 non-null  object
 2   Genero           39160 non-null  object
 3   Serie            39160 non-null  int64
 4   Nome_Escola      39160 non-null  object
 5   Nota_Redacao     39160 non-null  int64
 6   Nota_Matematica  39160 non-null  int64
 7   ID_Escola        39160 non-null  int64
 8   Tipo_Escola      39160 non-null  object
 9   Numero_Alunos    39160 non-null  int64
 10  Orcamento_Anual  39160 non-null  int64
dtypes: int64(7), object(4)
memory usage: 3.3+ MB

Entendendo as variáveis categóricas:

In [12]:
data["Nome_Escola"].unique()

array(['Escola A', 'Escola B', 'Escola C', 'Escola D', 'Escola E',
       'Escola F', 'Escola G', 'Escola H', 'Escola I', 'Escola J',
       'Escola K', 'Escola L', 'Escola M', 'Escola N', 'Escola O'],
      dtype=object)

In [13]:
data["Nome_Escola"].value_counts()

Nome_Escola
Escola H    4976
Escola M    4761
Escola D    4635
Escola L    3999
Escola B    2949
Escola A    2917
Escola N    2739
Escola F    2283
Escola G    1858
Escola K    1800
Escola C    1761
Escola O    1625
Escola E    1468
Escola J     962
Escola I     427
Name: count, dtype: int64

In [14]:
data.Serie.unique()

array([6, 9, 8, 7])

In [15]:
data['Serie'].value_counts()

Serie
6    11406
7    10165
8     9692
9     7897
Name: count, dtype: int64

Algumas perguntas:

Qual o orçamento total das escolas?

Qual a nota média dos alunos nas disciplinas analisadas?

In [16]:
data["Orcamento_Anual"].unique().sum()

24649428

In [17]:
escolas['Orcamento_Anual'].sum()

24649428

IMPORTANTE: **O orçamento anual foi de 24 milhões.**

Vamos considerar que alto desempenho sejam notas maiores que 90. Quantos alunos ficaram com nota superior a 90 em redação? E qual o percentual?

In [18]:
highRed = data[data['Nota_Redacao'] > 90]

In [19]:
len(highRed)

9973

In [20]:
len(highRed) / len(estudantes) * 100

25.467313585291112

**25,47% das crianças tiraram nota maior que 90 em redação!**

Quantos eram de escola pública?

In [21]:
highRed['Tipo_Escola'].unique()

array(['Publica', 'Particular'], dtype=object)

In [22]:
highRed['Tipo_Escola'].value_counts()

Tipo_Escola
Publica       6478
Particular    3495
Name: count, dtype: int64

In [23]:
len(data[(data['Nota_Redacao'] > 90) & (data['Tipo_Escola'] == 'Publica')])

6478

Quantos alunos ficaram com nota superior a 90 em matemática? E qual o percentual?

In [24]:
highMat = data[data.Nota_Matematica > 90]

In [25]:
len(highMat)

8834

In [26]:
len(highMat) / len(estudantes) * 100

22.558733401430032

Quantos eram do sexo feminino?

In [27]:
highMat['Genero'].value_counts()

Genero
F    4499
M    4335
Name: count, dtype: int64

In [45]:
highMat['Genero'].value_counts().iloc[0]/len(estudantes)

0.11488764044943821

Quantos alunos tiraram notas maior que 90 nas duas provas?

In [46]:
highBoth = data[(data['Nota_Matematica']>90) & (data['Nota_Redacao']>90)]

Como ficou a distribuição dos alunos de alto desempenho pela série?

In [47]:
highBoth.Serie.value_counts()

Serie
6    663
8    604
7    599
9    457
Name: count, dtype: int64

In [48]:
estudantes.Serie.value_counts()

Serie
6    11406
7    10165
8     9692
9     7897
Name: count, dtype: int64

Qual o total por escolas?

In [31]:
highBoth.Nome_Escola.value_counts()

Nome_Escola
Escola D    252
Escola H    252
Escola M    239
Escola L    183
Escola F    172
Escola G    155
Escola K    153
Escola A    143
Escola B    142
Escola C    129
Escola O    129
Escola E    126
Escola N    110
Escola J     96
Escola I     42
Name: count, dtype: int64

### Tarefa:

Quais escolas demonstraram maior eficiência?

Instruções:

1. Antes de analisar os dados, explique o que significa "eficiência" no contexto de escolas. Considere aspectos como o uso de recursos, desempenho acadêmico, custo-benefício, entre outros critérios relevantes.
   
2. Utilize os dados fornecidos neste documento para identificar quais escolas se destacam em termos de eficiência, de acordo com a definição estabelecida.

3. Quais diferentes formas de análise, novos resultados ou novas métricas podem ajudar a avaliar melhor a eficiência das escolas?